body {
    font-family: sans-serif;
    overflow-x: hidden; /* para que nada sobresalga en horizontal */
}


[data-animation="fade"]{
    opacity: 0;
    transform: translate(100%);
    transition: all ease-in 5s 0.1s;

    --opacity:1;
    --transform:translate(0);
}
[data-animation="fade-left"]{
    opacity: 0;
    transform: translate(-100vw);
    transition: all ease-in-out 1s 0.1s;

    --opacity:1;
    --transform:translate(0);
}
[data-animation="fade-right"]{
    opacity: 0;
    transform: translate(100vw);
    transition: all ease-in-out 1s 0.1s;

    --opacity:1;
    --transform:translate(0);
}
[data-animation="fade-down"]{
    opacity: 0;
    transform: translateY(-50vh);
    transition: all ease-in-out 1s 0s;

    --opacity:1;
    --transform:translateY(0);
}
[data-animation="show"]{
    opacity: 0;
    transform: scale(0);
    transition: all ease-in .6s .3s;

    --opacity:1;
    --transform:scale(1);
}
[data-animation="up"]{
    opacity: 0;
    transform: translateY(100%);
    transition: all ease-in .6s .3s;

    --opacity:1;
    --transform:translateY(0);
}
[data-animation="left"]{
    opacity: 0;
    transform: translateX(-100%);
    transition: all ease-in .6s .3s;

    --opacity:1;
    --transform:translateX(0);
}
[data-animation="right"]{
    opacity: 0;
    transform: translateX(100%);
    transition: all ease-in 1s .3s;
    --opacity:1;
    --transform:translateX(0);
}
[data-animation="right-1"],[data-animation="right-1.1"],[data-animation="right-1.2"],[data-animation="right-1.3"],[data-animation="right-1.4"],[data-animation="right-1.5"],[data-animation="right-1.6"],[data-animation="right-1.7"],[data-animation="right-1.85"],[data-animation="right-2"],[data-animation="right-2.25"]{
    opacity: 0;
    transform: translateX(100%);
    transition: all ease-in-out 1s 0.1s;
    --opacity:1;
    --transform:translateX(0);
}
[data-animation="right-1.1"]{    
    transition: all ease-in-out 1.1s 0.1s;
}
[data-animation="right-1.2"]{    
    transition: all ease-in-out 1.2s 0.1s;
}
[data-animation="right-1.3"]{    
    transition: all ease-in-out 1.3s 0.1s;
}
[data-animation="right-1.4"]{    
    transition: all ease-in-out 1.4s 0.1s;
}
[data-animation="right-1.5"]{    
    transition: all ease-in-out 1.5s 0.1s;
}
[data-animation="right-1.6"]{    
    transition: all ease-in-out 1.6s 0.1s;
}
[data-animation="right-1.7"]{    
    transition: all ease-in-out 1.7s 0.1s;
}
[data-animation="right-1.85"]{    
    transition: all ease-in-out 1.85s 0.1s;
}
[data-animation="right-2"]{    
    transition: all ease-in-out 2s 0.1s;
}
[data-animation="right-2.25"]{    
    transition: all ease-in-out 2.25s 0.1s;
}
.unset{
    opacity: var(--opacity) !important;
    transform: var(--transform) !important;
}