/* npm run sass:watch   */
:root {
  scroll-behavior: smooth;
  --nav-bg-color:rgb(1, 39, 54);
  --nav-text-color-white-smoth:rgba(255, 255, 255, 0.60);
  --nav-text-color-white-solid:rgba(255, 255, 255,1);
  --section-bg-color-1:rgba(33, 43, 56,1);
  --section-bg-color-2:rgba(12, 25, 43, 0.7);
  --bg-color-light-blue-050:rgba(3, 92, 127,0.5);
  --hover-bg-color-dark-blue-050:rgba(1, 39, 54,0.5);
  --hover-bg-color-dark-blue-075:rgba(1, 39, 54,0.75);
  --hover-bg-color-dark-blue-solid:rgba(1, 39, 54,1);
  --text-title-color-light-blue:rgba(3, 92, 127,1);
  --text-title-color-super-light-blue:rgb(0, 183, 255);
  --text-title-color-dark-blue:rgb(1, 39, 54);
  --text-color-white-semi-solid:rgba(255, 255, 255, 0.5);
  --text-color-white-semi-solid-075:rgba(255, 255, 255, 0.75);
  --text-color-white-solid:rgba(255, 255, 255, 1);
  --text-color-grey-semi-solid:rgba(202, 202, 202, 0.5);
  --nav-bg-color:rgb(1, 39, 54);
  --nav-bg-color:rgb(1, 39, 54);
}

::-webkit-scrollbar {
  display: none;
}

/* Barra lateral para Firefox  */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(36, 97, 204, 0.362) rgb(0, 0, 0);
}

/* Barra lateral para  Chrome, Edge, y Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--text-title-color-dark-blue);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-color-light-blue-050);
  border-radius: 5px;
  border: 1px solid var(--text-title-color-light-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}
@keyframes inicial {
  from {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* .snapScrollWrapper {
  scroll-behavior: smooth;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}
* .snapScrollWrapper .snapScrollSection {
  scroll-snap-align: start;
}
* .navbarContainer {
  background-color: rgba(3, 92, 127, 0.7);
  position: fixed;
  width: 100%;
  z-index: 100;
  animation: inicial 7.5s 1;
}
* .navbarContainer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 10px;
  padding: 5px;
  line-height: 0;
}
* .navbarContainer ul a {
  text-decoration: none;
}
* .navbarContainer ul a li {
  margin-top: 12px;
  color: white;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 3px 5px;
  filter: drop-shadow(2px 2px 2px rgb(3, 242, 255));
}
* .navbarContainer ul a li:hover {
  text-decoration: underline 3px var(--text-title-color-light-blue);
  color: var(--nav-text-color-white-solid);
  font-weight: 500;
}
* .presentacion {
  background-color: var(--section-bg-color-1);
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--text-color-grey-semi-solid);
}
* .presentacion .hola {
  color: var(--text-color-white-semi-solid-075);
  margin-top: 10vh;
  font-size: 6rem;
  position: absolute;
  text-align: center;
  width: 100%;
  animation: hola 1.5s;
  opacity: 0;
}
@keyframes hola {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
* .presentacion .soy {
  color: var(--text-color-white-semi-solid);
  font-size: 4rem;
  margin-bottom: -10vh;
  margin-top: 10vh;
  animation: inicial 2s;
}
* .presentacion .nombre {
  color: var(--text-title-color-light-blue);
  font-size: 7.5rem;
  margin-top: 100px;
  animation: inicial 2.5s;
  margin-bottom: -40px;
}
* .presentacion .apellido {
  font-size: 5.5rem;
  line-height: 0;
  padding-bottom: 100px;
  animation: inicial 3s;
}
* .presentacion .descripcion {
  font-size: 2.5rem;
  margin-bottom: 13vh;
  animation: inicial 4s;
}
* .presentacion .bienvenido {
  color: var(--text-color-white-semi-solid-075);
  font-size: 3rem;
  position: absolute;
  margin-top: 75vh;
  text-align: center;
  width: 100%;
  animation: hola 5s 6s;
  opacity: 0;
}
@keyframes bienvenido {
  from {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
* .aboutMe {
  height: 100vh;
  background-color: var(--section-bg-color-2);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
* .aboutMe .texto1 {
  line-height: 0;
}
* .aboutMe .texto1 p {
  padding-top: 12vh;
  color: var(--text-color-white-semi-solid-075);
  font-size: 3.5rem;
}
* .aboutMe .texto2 p {
  color: var(--text-title-color-dark-blue);
  font-size: 4.5rem;
  font-weight: 500;
  margin-top: -20px;
}
* .aboutMe .texto3 p {
  color: var(--text-title-color-dark-blue);
  font-size: 1.5rem;
  font-weight: 500;
}
* .aboutMe .texto3 i {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 600;
  color: var(--hover-bg-color-dark-blue-solid);
}
* .aboutMe p {
  color: var(--text-color-white-semi-solid-075);
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0 30px 1vh;
}
* .aboutMe .cv a {
  text-decoration: none;
}
* .aboutMe .cv a p {
  color: var(--text-color-white-semi-solid);
  font-size: 2.2rem;
  font-weight: 300;
  transition: all ease-in 0.3s;
  padding: 7px;
  margin: 4px;
  margin-top: 5vh;
  border-radius: 30px;
  border: 0 solid rgba(2, 79, 208, 0.2);
}
* .aboutMe .cv a p:hover {
  color: var(--nav-text-color-white-solid);
  background-color: var(--hover-bg-color-dark-blue-075);
}
* .skills {
  height: 100vh;
  background-color: var(--section-bg-color-1);
  padding: 0 20px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 27vh;
}
* .skills p {
  color: var(--text-title-color-light-blue);
  font-size: 3.5rem;
  text-align: center;
}
* .skills .titulo {
  margin-top: 10vh;
}
* .skills .skillsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20px;
  max-width: 800px;
  /* margin: auto;
   margin-top: 5vh; */
  border: 1px solid var(--text-title-color-light-blue);
}
* .skills .skillsContainer img {
  width: 10vw;
  margin: 10px;
  min-width: 50px;
  max-width: 100px;
}
* .skills .aprendiendoContainer {
  margin-bottom: 100px;
}
* .skills .aprendiendoContainer .contenedorAprendizajesB .softSkills {
  font-size: 1.25rem;
  color: var(--text-color-white-semi-solid-075);
  font-weight: 300;
  padding-top: 5vh;
}
* .skills .aprendiendoContainer .contenedorAprendizajesB .softContainer {
  overflow-y: scroll;
  height: 25vh;
}
* .skills .aprendiendoContainer .contenedorAprendizajesB .softContainer p {
  font-size: 2rem;
  color: var(--text-color-white-semi-solid-075);
}
* .skills .aprendiendoContainer .contenedorAprendizajesB .softContainer .divisor {
  width: 90%;
  max-width: 300px;
  border-radius: 1px;
  margin: auto;
  margin-top: 10px;
  height: 1px;
  background-color: var(--text-title-color-light-blue);
  box-shadow: 1px 1px 5px var(--text-title-color-light-blue);
}
* .skills .aprendiendoContainer .contenedorAprendizajesB .divisor2 {
  width: 70%;
  max-width: 300px;
  border-radius: 1px;
  margin: auto;
  margin-top: 30px;
  height: 1px;
  background-color: var(--text-title-color-light-blue);
  box-shadow: 1px 1px 5px var(--text-title-color-light-blue);
}
* .skills .aprendiendoContainer .contenedorAprendizajesB .palabraEspecialSoftSkills {
  color: var(--text-title-color-super-light-blue);
  font-weight: 500;
  font-size: 1.25rem;
}
* .proyectos {
  background-color: var(--section-bg-color-2);
  height: 100vh;
  padding: 0 20px;
  text-align: center;
}
* .proyectos p {
  padding-top: 50px;
  color: var(--text-color-white-semi-solid-075);
  font-size: 3.5rem;
  position: relative;
  z-index: 90;
  line-height: 1em;
}
* .proyectos .difuminado {
  top: -25vh;
  box-shadow: 0px 50px 30px 120px rgb(84, 94, 106);
  position: relative;
  z-index: 5;
}
* .proyectos .scrollProyectos {
  width: 95%;
  position: absolute;
  z-index: 20;
  display: flex;
  justify-content: end;
  animation-name: scrolling;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: none;
}
* .proyectos .scrollProyectos img {
  width: 60px;
}
@keyframes scrolling {
  from {
    filter: drop-shadow(2px 2px var(--text-title-color-light-blue));
  }
  to {
    filter: drop-shadow(2px 2px var(--text-title-color-dark-blue));
    transform: scale(1.025);
  }
}
* .proyectos .proyectosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  overflow-y: scroll;
  height: 74vh;
  position: relative;
}
* .proyectos .proyectosContainer .ih-item.square {
  height: 250px;
}
* .proyectos .proyectosContainer .cardProyect {
  border-radius: 8px;
  /*   max-width: 400px; */
  margin-bottom: 30px;
}
* .proyectos .proyectosContainer .cardProyect:hover {
  filter: drop-shadow(0 0 3px var(--bg-color-light-blue-050));
}
* .proyectos .proyectosContainer .cardProyect .info {
  background-color: var(--bg-color-light-blue-050) !important;
  z-index: 500;
  visibility: visible;
}
* .proyectos .proyectosContainer .cardProyect .info .botoneraProyecto {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  margin-top: 200px;
}
* .proyectos .proyectosContainer .cardProyect .info .botoneraProyecto input {
  width: 80px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: var(--hover-bg-color-dark-blue-solid);
  color: white;
  font-weight: 300;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px var(--hover-bg-color-dark-blue-solid) solid;
}
* .proyectos .proyectosContainer .cardProyect .info .botoneraProyecto input:hover {
  background-color: var(--nav-text-color-white-smoth);
  color: black;
  font-weight: 500;
  transform: scale(1.06);
  cursor: pointer;
}
* .proyectos .proyectosContainer .cardProyect .info #tituloProyecto {
  color: white;
  background-color: rgba(12, 34, 52, 0.6);
  font-size: 1.15rem;
  padding-bottom: 3px;
  margin-bottom: 0;
  font-weight: 600;
}
* .proyectos .proyectosContainer .cardProyect .info #descripcionProyecto {
  color: white;
  background-color: var(--hover-bg-color-dark-blue-050);
  padding: 3px;
  font-size: 0.85rem;
}
* .charlemos {
  background-color: var(--section-bg-color-1);
  height: 100vh;
  padding: 0 10px;
  text-align: center;
}
* .charlemos p {
  padding-top: 10vh;
  color: var(--text-title-color-light-blue);
  font-size: 3.5rem;
}
* .charlemos .formulario {
  z-index: 1000;
  position: relative;
  margin-top: 70px;
}
* .charlemos .formulario .labelFormContacto {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: auto;
  margin-bottom: 20px;
}
* .charlemos .formulario .labelFormContacto label {
  margin-bottom: 8px;
  font-size: 0.95rem;
  margin-bottom: 4px;
  color: var(--text-color-white-semi-solid-075);
}
* .charlemos .formulario .labelFormContacto input {
  background-color: var(--section-bg-color-1);
  color: white;
  border-color: var(--text-title-color-light-blue);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 1.05rem;
}
* .charlemos .formulario .labelFormContacto input:focus-within {
  outline: 2px solid var(--text-title-color-light-blue);
  border-radius: 8px;
}
* .charlemos .formulario textarea {
  background-color: var(--section-bg-color-1);
  color: white;
  border-radius: 10px;
  min-height: 70px;
  border-color: var(--text-title-color-light-blue);
}
* .charlemos .formulario textarea:focus-within {
  outline: 2px solid var(--text-title-color-light-blue);
  border-radius: 8px;
}
* .charlemos .formulario .botonEnvio {
  width: 350px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid var(--text-title-color-light-blue);
  padding: 2px;
  margin-top: 5px;
  color: white;
  height: 40px;
  font-size: 1rem;
}
* .charlemos .formulario .botonEnvio:hover {
  color: white;
  background-color: var(--text-title-color-light-blue);
  font-weight: 600;
  box-shadow: 1px 1px 1px rgb(170, 169, 169);
}
* .charlemos .contacto svg {
  fill: var(--text-color-white-semi-solid-075);
  height: 45px;
  margin: 20px;
  margin-top: 20px;
}
* .charlemos .contacto svg:hover {
  fill: var(--nav-text-color-white-solid);
  transform: scale(1.08);
  filter: drop-shadow(3px 3px 2px var(--text-title-color-light-blue));
}

/* Medias queries  */
@media (min-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .charlemos .formulario .labelFormContacto {
    width: 450px;
  }
  .ih-item.square {
    width: 40%;
    max-width: 550px;
  }
  .presentacion .hola {
    margin-top: 10vh;
    font-size: 8.5rem;
  }
  .presentacion .soy {
    font-size: 5rem;
    margin-bottom: -10vh;
    margin-top: 10vh;
  }
  .presentacion .nombre {
    font-size: 9rem;
    margin-top: 100px;
    margin-bottom: -80px;
  }
  .presentacion .apellido {
    font-size: 7rem;
    margin-bottom: 40px;
  }
  .presentacion .descripcion {
    font-size: 3.5rem;
    margin-bottom: 15vh;
  }
  .presentacion .bienvenido {
    font-size: 7rem;
    margin-top: 80vh;
  }
  .aboutMe .texto1 p {
    font-size: 5rem;
  }
  .aboutMe .texto2 p {
    font-size: 6.5rem;
    font-weight: 500;
    margin-top: -80px;
  }
  .aboutMe .texto3 p {
    font-size: 2.5rem;
    font-weight: 500;
  }
  .aboutMe .texto3 i {
    font-size: 2.75rem;
    font-weight: 600;
  }
  .aboutMe p {
    font-size: 2.5rem;
    font-weight: 300;
    padding-top: 4vh;
    margin: 0 30px 1vh;
  }
  .aboutMe .cv a p {
    font-size: 3rem;
    font-weight: 300;
    padding: 2px;
    margin: 4px;
    margin-top: 5vh;
    border-radius: 30px;
  }
  .skills p {
    font-size: 4rem;
  }
  .skills .skillsContainer {
    max-width: 800px;
  }
  .skills .skillsContainer img {
    width: 10vw;
    margin: 10px;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .softSkills {
    font-size: 2.3rem;
    font-weight: 300;
    padding-top: 5vh;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .softContainer {
    height: 25vh;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .softContainer p {
    font-size: 2rem;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .softContainer .divisor {
    width: 90%;
    max-width: 300px;
    margin-top: 10px;
    height: 1px;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .divisor2 {
    width: 70%;
    max-width: 450px;
    margin-top: 30px;
    height: 2px;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .palabraEspecialSoftSkills {
    font-weight: 500;
    font-size: 2.5rem;
  }
}
@media (min-width: 1000px) {
  ::-webkit-scrollbar {
    display: none;
  }
  .charlemos .formulario .labelFormContacto {
    width: 550px;
  }
}
@media (min-width: 1300px) {
  .skills p {
    font-size: 7rem;
  }
  .skills .skillsContainer {
    max-width: 1000px;
  }
  .skills .skillsContainer img {
    width: 10vw;
    margin: 10px;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .softSkills {
    font-size: 2.6rem;
    font-weight: 400;
    padding-top: 4vh;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .softContainer {
    height: 25vh;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .softContainer p {
    font-size: 2.5rem;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .softContainer .divisor {
    width: 700px;
    margin-top: 10px;
    height: 4px;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .divisor2 {
    width: 700px;
    margin-top: 30px;
    height: 4px;
  }
  .skills .aprendiendoContainer .contenedorAprendizajesB .palabraEspecialSoftSkills {
    font-weight: 500;
    font-size: 3.2rem;
  }
  .aboutMe .texto1 p {
    font-size: 6rem;
  }
  .aboutMe .texto2 p {
    font-size: 6.5rem;
    font-weight: 500;
    margin-top: -80px;
  }
  .aboutMe .texto3 p {
    font-size: 2.75rem;
    font-weight: 500;
  }
  .aboutMe .texto3 i {
    font-size: 3.25rem;
    font-weight: 600;
  }
  .aboutMe p {
    font-size: 2.85rem;
    font-weight: 300;
    padding-top: 4vh;
    margin: 0 30px 1vh;
  }
  .aboutMe .cv a p {
    font-size: 3rem;
    font-weight: 300;
    padding: 2px;
    margin: 4px;
    margin-top: 5vh;
    border-radius: 30px;
  }
  .presentacion .hola {
    margin-top: 12vh;
    font-size: 8.5rem;
  }
  .presentacion .soy {
    font-size: 7rem;
    margin-bottom: -10vh;
    margin-top: 10vh;
  }
  .presentacion .nombre {
    font-size: 12rem;
    margin-top: 100px;
    margin-bottom: -80px;
  }
  .presentacion .apellido {
    font-size: 9rem;
    margin-bottom: 40px;
  }
  .presentacion .descripcion {
    font-size: 5.5rem;
    margin-bottom: 15vh;
  }
  .presentacion .bienvenido {
    font-size: 8rem;
    margin-top: 75vh;
  }
}

/*# sourceMappingURL=style.css.map */
