/* npm run sass:watch   */
:root{
    scroll-behavior: smooth;
    --nav-bg-color:rgb(1, 39, 54);
    --nav-text-color-white-smoth:rgba(255, 255, 255, 0.60);
    --nav-text-color-white-solid:rgba(255, 255, 255,1); 

    --section-bg-color-1:rgba(33, 43, 56,1);
    --section-bg-color-2:rgba(12, 25, 43, 0.7); 

    --bg-color-light-blue-050:rgba(3, 92, 127,0.5);

    --hover-bg-color-dark-blue-050:rgba(1, 39, 54,0.5);
    --hover-bg-color-dark-blue-075:rgba(1, 39, 54,0.75);
    --hover-bg-color-dark-blue-solid:rgba(1, 39, 54,1);

    --text-title-color-light-blue:rgba(3, 92, 127,1);
    --text-title-color-super-light-blue:rgb(0, 183, 255);
    --text-title-color-dark-blue:rgb(1, 39, 54);
    
    --text-color-white-semi-solid:rgba(255, 255, 255, 0.5);
    --text-color-white-semi-solid-075:rgba(255, 255, 255, 0.75);
    --text-color-white-solid:rgba(255, 255, 255, 1);
    --text-color-grey-semi-solid:rgba(202, 202, 202, 0.5);
    

    --nav-bg-color:rgb(1, 39, 54);
    --nav-bg-color:rgb(1, 39, 54);
    
    background-color: var(--text-title-color-light-blue);
    
}
::-webkit-scrollbar {
    display: none; 
}
/* Barra lateral para Firefox  */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(36, 97, 204, 0.362)  rgb(0, 0, 0);
  }
  /* Barra lateral para  Chrome, Edge, y Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: var(--text-title-color-dark-blue);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-light-blue-050);
    border-radius: 5px;
    border: 1px solid var(--text-title-color-light-blue);
  }



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    .sectionContainer{
        margin: auto;
        width: 80%;
        max-width: 1200px;
        .tituloContainer{            
            height: 100px;
            margin-top: 70px;
            font-size: 3.5rem;
        }
    }
    
    .navbarContainer{
        width: 100vw;
        z-index: 100;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        backdrop-filter: blur(10px);
        background-color: rgba(3, 92, 127, 0.3);
        border-bottom: 2px solid rgba(3, 92, 127, 0.5);
        position: fixed;
        opacity: 0;
        animation: fadein 2s 2s forwards;

        .btnIdioma{
            img{
                height: 30px;
            }
        }
        
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin-bottom: 10px;
            padding: 5px;
            line-height: 0;
            width: 80%;
            max-width: 1500px;
            a{
                text-decoration: none;                    
                li{
                    margin-top: 12px;
                    color: var(--text-color-white-semi-solid-075);
                    font-size: 1.25rem;
                    font-weight: 400;
                    padding: 3px 5px;
                    /* filter: drop-shadow(2px 2px 2px rgb(3, 242, 255));*/                  
                    &:hover{                        
                        text-decoration: underline 1px var(--text-title-color-light-blue);
                        color: var(--nav-text-color-white-solid);
                        font-weight: 500;
                    }
                    .active{
                        text-decoration: underline 2px var(--text-title-color-light-blue);
                        color: var(--nav-text-color-white-solid);
                        font-weight: 500;
                    }
                }
            }
        }        
    } 
    .presentacion{
        // background-color: var(--section-bg-color-1);
        
        background: var(--section-bg-color-1);
        text-align: center;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--text-color-grey-semi-solid);
        padding-top: 25vh;
        padding-bottom: 25vh;
        .hola{            
            color: var(--text-color-white-semi-solid-075);
            font-size: 6rem;
            position: absolute;
            text-align: center;
            width: 100%;
            opacity: 0;
        }
        .soy{
            color: var(--text-color-white-semi-solid);
            font-size: 4rem;
            line-height: 0;
        }
        .nombre{
            color: var(--text-title-color-light-blue);
            font-size: 7.5rem;
            line-height: 1;
        }
        .apellido{
            font-size: 5.5rem;
            line-height: 0;
            padding-bottom: 100px;
        }
        .descripcion{
            font-size: 2.5rem;
        }
    }
    .aboutMe{
        min-height: 100vh;
        background: var(--section-bg-color-2);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        .tituloContainer{
            .texto1{
                p{
                    line-height: 0.5;
                    font-size: 3.5rem;
                    color: var(--text-color-white-semi-solid-075);
                    
                }
            }
            .texto2{
                p{
                    line-height: 0.5;
                    font-size: 4.5rem;
                    color: var(--text-title-color-dark-blue);

                }
            }

        }
        .textContainer{     
            padding-top: 5vh;           
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        .texto3 p{
            color: var(--text-title-color-dark-blue);
            font-size: 1.5rem;
            font-weight: 500;
        }
        p.texto4{            
            font-size: 1.5rem;
        }
        .texto3 i{
            font-size: 2rem;
            font-style:italic;
            font-weight: 400;
            color: var(--text-title-color-dark-blue);  
            filter: drop-shadow(1px 1px 5px rgba(132, 229, 229, 0.342));    
        }
        p{
            color: var(--text-color-white-semi-solid-075);
            font-size: 1.5rem;
            font-weight: 300;
        }
        .cv{
           a{
            text-decoration: none;
             p{
                color: var(--text-color-white-semi-solid);
                font-size: 2.2rem;
                font-weight: 300;
                transition: all ease-in 0.3s;
                padding: 7px;
                margin: 4px;
                display: inline-block; 
                position: relative;

                &:after{
                    content: "";
                    width: 70%;
                    position: absolute;
                    height: 5px;
                    bottom: 0;
                    left: 15%;
                    background-color:var(--text-title-color-light-blue);
                    transform: scale(0);
                    transform-origin: bottom right;
                    transition: transform 0.6s ease-out;
                }
                &:hover:after{
                    transform: scaleX(1);
                    transform-origin: bottom left;
                    color: var(--nav-text-color-white-solid);
                }

            }
           }
            
        }
    }
    .skills{
        min-height: 100vh;
        background: var(--section-bg-color-1);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;        
        .tituloContainer{
            p.titulo{
                font-size: 3.5rem;
                color: var(--text-color-white-semi-solid-075);
            }
        }
        span.textoContainer{ 
            display: flex;
            flex-direction: column;
            min-height: 600px;

            .skillsContainer{ 
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                padding-top: 10px;

            }

        }


        p{
            color: var(--text-title-color-light-blue);
            font-size: 3rem;
            text-align: center;
        }
        .skillsContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            
            border-radius: 20px;
            // max-width: 800px;
            border: 1px solid var(--text-title-color-light-blue);
            .skill{
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                &:hover{
                    transform: scale(1.04);
                }
            }
            img{ 
                width: 40px;
                margin: 10px;
                min-width: 50px;
                max-width: 100px;
                filter: drop-shadow(0px 0px 2px rgb(3, 242, 255));
            }
            .skill-text{
                font-size: 1.2rem;
                color: var(--text-color-grey-semi-solid);
                filter: drop-shadow(0px 0px 1px rgb(3, 242, 255)); 
            }

        }
        .aprendiendoContainer{       
            .contenedorAprendizajesB{                
                .softSkills{
                    font-size: 1.5rem;
                    color: var(--text-color-white-semi-solid-075);
                    font-weight: 300;
                    padding-top: 5vh;
                } 
                .divisor2{
                    width: 70%;
                    max-width: 1000px;
                    border-radius: 1px;
                    margin: auto;
                    margin-top: 5vh;
                    height: 1px;
                    background-color: var(--text-title-color-light-blue);
                    box-shadow: 1px 1px 5px var(--text-title-color-light-blue);
                }
                .palabraEspecialSoftSkills{
                    color: var(--text-title-color-super-light-blue);
                    font-weight: 500;
                    font-size: 1.5rem;                    
                }
            }
        }
    }
    .proyectos{
        background-color: var(--section-bg-color-2);
        min-height: 100vh;
        padding: 0 20px;
        text-align: center;
        p{
            padding-top: 4.5rem;
            padding-bottom: 1rem;
            color: var(--text-color-white-semi-solid-075);
            font-size: 2.75rem;
            position: relative;
            z-index: 90;
            line-height: 1em;
        }
        .difuminado {
            top: -25vh;
            box-shadow: 0px 50px 30px 120px rgb(84 94 106);
            position: relative;           
            z-index: 5;
          }
        .scrollProyectos{
            width: 95%;
            position: absolute;
            z-index: 20;
            display: flex;
            justify-content: end;            
            display: none;
            
            img{
                width: 60px;
            }
        }
        .proyectosContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 10px;
            overflow-x: hidden;
            overflow-y: hidden;
            /*
            height: 74vh;
            */
            position: relative;
            .ih-item.square{
                height: 250px;
            }
            .cardProyect{
                border-radius: 8px;
             /*   max-width: 400px; */
                margin-bottom: 30px;
                &:hover{
                    filter: drop-shadow(0 0 3px var(--bg-color-light-blue-050));
                }
                .info{
                    background-color: var(--bg-color-light-blue-050) !important;
                    z-index: 500;
                    visibility: visible;
                    .botoneraProyecto{
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        position: absolute;
                        margin-top: 200px;
                        input{                    
                            width: 80px;
                            padding-top: 4px;
                            padding-bottom: 4px;
                            background-color:var(--hover-bg-color-dark-blue-solid);
                            color: white;
                            font-weight: 300;
                            font-size: 1.1rem;
                            border-radius: 10px;
                            border: 1px var(--hover-bg-color-dark-blue-solid) solid;
                            
                            &:hover{
                                background-color:var(--nav-text-color-white-smoth);
                                color: black;
                                font-weight: 500;
                                transform: scale(1.06);
                                cursor: pointer;
                            }

                        }
                        
                    }
                    #tituloProyecto{
                        color: white;
                        background-color: rgba(12, 34, 52, 0.85);
                        font-size: 1.15rem;
                        padding-bottom: 3px;
                        margin-bottom: 0;
                        font-weight: 600;
                    }
                    #descripcionProyecto{
                        color: white;
                        background-color: var(--hover-bg-color-dark-blue-075);
                        padding: 3px;
                        font-size: 0.85rem;
                    }
                }
                
            }
        }
    }
    .charlemos{
        background-color: var(--section-bg-color-1);
        min-height: 100vh;
        padding: 0;
        text-align: center;
        padding-top: 4rem;
        padding-bottom: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p{
            color: var(--text-title-color-light-blue);
            font-size: 3.5rem;
        }
        .formulario{
            z-index: 1000;
            position: relative;
            margin-top: 1vh;
            .labelFormContacto{
                display: flex;
                flex-direction: column;
                width: 350px;
                margin: auto;
                margin-bottom: 20px;
                label{
                    margin-bottom: 8px;
                    font-size: 0.95rem;
                    margin-bottom: 4px;
                    color:var(--text-color-white-semi-solid-075); 
                }
                input{
                    background-color: var(--section-bg-color-1);
                    color: white;
                    border-color: var(--text-title-color-light-blue); 
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    font-size: 1.05rem;
                    &:focus-within{
                        outline: 2px solid var(--text-title-color-light-blue);
                        border-radius: 8px;
                    }
                }
            }
            textarea{
                background-color: var(--section-bg-color-1);
                color: white;
                border-radius: 10px;
                min-height: 70px;
                border-color: var(--text-title-color-light-blue); 
                &:focus-within{
                    outline: 2px solid var(--text-title-color-light-blue);
                    border-radius: 8px;
                }
            }
            .botonEnvio{
                width: 350px;
                background-color: transparent; 
                border-radius: 20px;
                border: 2px solid var(--text-title-color-light-blue);
                padding: 2px;
                margin-top: 5px;
                color: white;
                height: 40px;
                font-size: 1rem;
                &:hover{
                    color: white;
                    background-color: var(--text-title-color-light-blue); 
                    font-weight: 600;
                    box-shadow: 1px 1px 1px rgb(170, 169, 169);
                }
            }
        }
        .contacto{
            svg,img{
                fill: var(--text-color-white-semi-solid-075);
                height: 45px;
                margin: 20px;
                margin-top: 20px;
                
                &:hover{
                    fill: var(--nav-text-color-white-solid);
                    transform: scale(1.08);
                    filter: drop-shadow(3px 3px 2px var(--text-title-color-light-blue));
                }
            }
        }
    }
}

/* Medias queries  */
@media (max-width: 650px){
    *.sectionContainer{
        width: 90%;
    }
    .navbarContainer{
        ul{
            width: 90%;
            a{
                li{
                    font-size: 1.2rem;
                }
            }
        }
    }

    .aboutMe{
        .tituloContainer{
            .texto1 p{
                font-size: 2.5rem;
            }
            .texto2 p{
                font-size: 3.75rem;

            }
        }
        .textContainer{
            p{
                font-size: 1.25rem;
            }
            .texto3 i{
                font-size: 1.5rem;
            }
            .cv{
                a{
                    p{
                        font-size: 1.5rem;
                        padding: 0;
                        margin: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
            
    }
    .skills{
        .tituloContainer{

        }
        .skillsContainer{
            .skill{
                height: 85px;
                img{
                    width: 35px;
                    min-width: 35px;
                    margin: 5px;


                }
                .skill-text{
                    font-size: 0.9rem;
                    filter: none;
                }
            }
        }
        .aprendiendoContainer{
            .contenedorAprendizajesB{
                .softSkills{
                    padding-top: 25px;
                    font-size: 1.27rem;
                    .palabraEspecialSoftSkills{
                        font-size: 1.27rem;

                    }
                }
                .divisor2{
                    margin-top: 30px;
                }
            }
        }
    }
    .proyectos{
        .sectionContainer>p{
            padding-top: 4rem;
        }
        .proyectosContainer{
            padding: 0;
            .ih-item.square{
                height: auto;
                a{
                    .img{
                        img{

                        }
                    }
                    .info{
                        .botoneraProyecto{
                            margin-top: 195px;
                        }
                    }
                }
            }            
        }
    }
    .charlemos{
        padding: 0;
    }


}

@media (max-width: 800px){
}


/* Medias queries  */
@media (min-width: 800px){
}

@media (min-width: 1000px){
}

@media (min-width: 1250px){
}

@media (min-width: 1500px){

}

