/* npm run sass:watch   */
:root{
    scroll-behavior: smooth;
    --nav-bg-color:rgb(1, 39, 54);
    --nav-text-color-white-smoth:rgba(255, 255, 255, 0.60);
    --nav-text-color-white-solid:rgba(255, 255, 255,1); 

    --section-bg-color-1:rgba(33, 43, 56,1);
    --section-bg-color-2:rgba(12, 25, 43, 0.7); 

    --bg-color-light-blue-050:rgba(3, 92, 127,0.5);

    --hover-bg-color-dark-blue-050:rgba(1, 39, 54,0.5);
    --hover-bg-color-dark-blue-075:rgba(1, 39, 54,0.75);
    --hover-bg-color-dark-blue-solid:rgba(1, 39, 54,1);

    --text-title-color-light-blue:rgba(3, 92, 127,1);
    --text-title-color-super-light-blue:rgb(0, 183, 255);
    --text-title-color-dark-blue:rgb(1, 39, 54);
    
    --text-color-white-semi-solid:rgba(255, 255, 255, 0.5);
    --text-color-white-semi-solid-075:rgba(255, 255, 255, 0.75);
    --text-color-white-solid:rgba(255, 255, 255, 1);
    --text-color-grey-semi-solid:rgba(202, 202, 202, 0.5);
    

    --nav-bg-color:rgb(1, 39, 54);
    --nav-bg-color:rgb(1, 39, 54);
}
::-webkit-scrollbar {
   /* display: none; */
}
/* Barra lateral para Firefox  */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(36, 97, 204, 0.362)  rgb(0, 0, 0);
  }
  /* Barra lateral para  Chrome, Edge, y Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-light-blue-050);
    border-radius: 5px;
    border: 1px solid var(--text-title-color-light-blue);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika Negative', sans-serif;
    @keyframes inicial {
        from {opacity: 0;}
        to { opacity: 1; }
    }
    .snapScrollWrapper {
        scroll-behavior: smooth;
        height: 100vh;
        overflow: auto;  
        scroll-snap-type: y mandatory;  
        .snapScrollSection {
            scroll-snap-align: start;
          }
      }

    .navbarContainer{
        background-color:  var(--nav-bg-color);
        position: fixed;
        top: 15px;
        width: 100%;
        z-index: 100;
        animation: inicial 7.5s 1;
        ul{
            display: flex;
            justify-content: space-around;
            list-style: none;
            align-items: center;
            a{
                text-decoration: none;    
                li{
                    margin: 12px;
                    color: var(--nav-text-color-white-smoth);
                    font-size: 1.1rem;
                    font-weight: 300;
                    padding: 3px 5px;

                    //transition: text-decoration ease-in-out 5s;

                    &:hover{                        
                        text-decoration: underline 3px var(--text-title-color-light-blue);
                        color: var(--nav-text-color-white-solid);
                        font-weight: 500;
                    }
                }
            }
        }
        
    } 
    .presentacion{
        background-color: var(--section-bg-color-1);
        text-align: center;
        height: 100vh;
        /*padding: 35vh 20px 25vh 20px;*/
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: var(--text-color-grey-semi-solid);
        .hola{            
            color: var(--text-color-white-semi-solid-075);
            margin-top: 15vh;            
            font-size: 2.5rem;
        }
        .soy{
            color: var(--text-color-white-semi-solid);
            font-size: 2.5rem;
            margin-bottom: -10vh;
            animation: inicial 1.5s;
        }
        .nombre{
            color: var(--text-title-color-light-blue);
            font-size: 7rem;
            margin-bottom: -12vh;
           /* animation: inicial 2.5s;    */
        }
        .apellido{
            font-size: 5rem;
            line-height: 0;
            margin-bottom: 40px;
            animation: inicial 3s;
        }
        .descripcion{
            font-size: 2.5rem;
            margin-bottom: 15vh;
            animation: inicial 5s;
        }
    }
    .aboutMe{
        height: 100vh;
        background-color: var(--section-bg-color-2);
        text-align: center;
        padding-top: 8vh;
        .texto1{
            line-height: 0;
            p{
                padding-top: 15vh;
                color: var(--text-color-white-semi-solid-075);
                font-size: 4rem;
                margin-top: -7vh;
            }
        }
        .texto2{
            p{
                color: var(--text-title-color-dark-blue);
                font-size: 6rem;
                margin-top: -7vh;
                font-weight: 500;
            }
        }
        .texto3 p{
            color: var(--text-title-color-dark-blue);
            font-size: 1.5rem;
            font-weight: 500;
        }
        p{
            color: var(--text-color-white-semi-solid-075);
            font-size: 1.3rem;
            font-weight: 300;
            padding-top: 4vh;
            margin: 0 30px 1vh;
        }

        .cv{
           a{
            text-decoration: none;
             p{
                color: var(--text-color-white-semi-solid);
                font-size: 2rem;
                font-weight: 300;
                transition: all ease-in 0.3s;
                padding: 2px;
                margin: 4px;
                margin-top: 5vh;
                border-radius: 30px;
                border: 0 solid rgba(2, 79, 208, 0.2);
                &:hover{
                    color: var(--nav-text-color-white-solid);
                    background-color:var(--hover-bg-color-dark-blue-075);
                }
            }
           }
            
        }
    }
    .skills{
        height: 100vh;
        background-color: var(--section-bg-color-1);
        padding: 0 20px;
        p{
            padding-top: 10vh;
            color: var(--text-title-color-light-blue);
            font-size: 4rem;
            text-align: center;
        }
        
        .skillsContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 5vh;
            border-radius: 20px;
            border: 1px solid var(--text-title-color-light-blue);
            img{
                width: 10vw;
                margin: 10px;
            }
        }
        .aprendiendoContainer{
            
            .contenedorAprendizajesB{
                
                .softSkills{
                    font-size: 1.5rem;
                    color: var(--text-color-white-semi-solid-075);
                    font-weight: 300;
                    padding-top: 5vh;
                }
                
                .softContainer {
                    overflow-y: scroll;
                    height: 25vh;
                   
                    p{
                        font-size: 2rem;
                        color: var(--text-color-white-semi-solid-075);
                    }
                    .divisor{
                        width: 90%;
                        max-width: 300px;
                        border-radius: 1px;
                        margin: auto;
                        margin-top: 10px;
                        height: 1px;
                        background-color: var(--text-title-color-light-blue);
                        box-shadow: 1px 1px 5px var(--text-title-color-light-blue);
                    }
                }
                .divisor2{
                    width: 70%;
                    max-width: 300px;
                    border-radius: 1px;
                    margin: auto;
                    margin-top: 30px;
                    height: 1px;
                    background-color: var(--text-title-color-light-blue);
                    box-shadow: 1px 1px 5px var(--text-title-color-light-blue);
                }
                .palabraEspecialSoftSkills{
                    color: var(--text-title-color-super-light-blue);
                    font-weight: 500;
                    font-size: 1.5rem;
                    
                }

            }

        }

    }
    .proyectos{
        background-color: var(--section-bg-color-2);
        height: 100vh;
        padding: 0 10px;
        text-align: center;
        p{
            padding-top: 12vh;
            color: var(--text-color-white-semi-solid-075);
            font-size: 3rem;
            margin-bottom: 5vh;
            position: relative;
            z-index: 90;
        }
        .difuminado {
            top: -25vh;
            box-shadow: 0px 50px 30px 120px rgb(84 94 106);
            position: relative;           
            z-index: 5;
          }
        .scrollProyectos{
            width: 95%;
            position: absolute;
            z-index: 20;
            display: flex;
            justify-content: end;

            animation-name: scrolling;
            animation-duration: 0.7s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            
            img{
                width: 60px;
            }
        }
        @keyframes scrolling {
            from {
                filter:drop-shadow(2px 2px var(--text-title-color-light-blue));
            }
            
            to {
                filter:drop-shadow(2px 2px var(--text-title-color-dark-blue));
                transform: scale(1.025);
            }
        }
        .proyectosContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 10px;
            overflow-y: scroll;
            height: 74vh;
            position: relative;
            .cardProyect{
                border-radius: 8px;
                max-width: 400px;
                margin-bottom: 15px;
                &:hover{
                    filter: drop-shadow(0 0 3px var(--bg-color-light-blue-050));
                }
                .info{
                    background-color: var(--bg-color-light-blue-050) !important;
                    z-index: 500;
                    visibility: visible;
                    .botoneraProyecto{
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        position: absolute;
                        margin-top: 180px;
                        input{                    
                            width: 80px;
                            padding-top: 4px;
                            padding-bottom: 4px;
                            background-color:var(--hover-bg-color-dark-blue-solid);
                            color: white;
                            font-weight: 300;
                            font-size: 1.1rem;
                            border-radius: 10px;
                            border: 1px var(--hover-bg-color-dark-blue-solid) solid;
                            &:hover{
                                background-color:var(--nav-text-color-white-smoth);
                                color: black;
                                font-weight: 500;
                                transform: scale(1.06);
                                cursor: pointer;
                            }

                        }
                        
                    }
                    #tituloProyecto{
                        color: white;
                        background-color: rgba(12, 34, 52, 0.6);
                        font-size: 1.15rem;
                        padding-bottom: 5px;
                        margin-bottom: 0;
                        font-weight: 600;
                    }
                    #descripcionProyecto{
                        color: white;
                        background-color: var(--hover-bg-color-dark-blue-050);
                        padding: 5px;
                        font-size: 0.85rem;
                    }
                }
                
            }
        }
    }
    .charlemos{
        background-color: var(--section-bg-color-1);
        height: 100vh;
        padding: 0 10px;
        text-align: center;
        p{
            padding-top: 20vh;
            color: var(--text-title-color-light-blue);
            font-size: 3rem;
        }
        .formulario{
            padding-top: 10vh;
            .labelFormContacto{
                display: flex;
                flex-direction: column;
                width: 350px;
                margin: auto;
                margin-bottom: 20px;
                label{
                    margin-bottom: 8px;
                    font-size: 0.95rem;
                    margin-bottom: 4px;
                    color:var(--text-color-white-semi-solid-075); 
                }
                input{
                    background-color: var(--section-bg-color-1);
                    color: white;
                    border-color: var(--text-title-color-light-blue); 
                    border-top: 0;
                    border-left: 0;
                    border-right: 0;
                    font-size: 1.05rem;
                    &:focus-within{
                        outline: 2px solid var(--text-title-color-light-blue);
                        border-radius: 8px;
                    }
                }
            }
            textarea{
                background-color: var(--section-bg-color-1);
                color: white;
                border-radius: 10px;
                min-height: 70px;
                border-color: var(--text-title-color-light-blue); 
                &:focus-within{
                    outline: 2px solid var(--text-title-color-light-blue);
                    border-radius: 8px;
                }
            }
            .botonEnvio{
                width: 350px;
                background-color: transparent; 
                border-radius: 20px;
                border: 2px solid var(--text-title-color-light-blue);
                padding: 2px;
                margin-top: 5px;
                color: white;
                height: 40px;
                font-size: 1rem;
                &:hover{
                    color: white;
                    background-color: var(--text-title-color-light-blue); 
                    font-weight: 600;
                    box-shadow: 1px 1px 1px rgb(170, 169, 169);
                }
            }
        }
        .contacto{
            svg{
                fill: var(--text-color-white-semi-solid-075);
                height: 45px;
                margin: 20px;
                margin-top: 30px;
                
                &:hover{
                    fill: var(--nav-text-color-white-solid);
                    transform: scale(1.08);
                    filter: drop-shadow(3px 3px 2px var(--text-title-color-light-blue));
                }
            }
        }

    }
    /*
    .swipeIcon{
        position: relative;
        top: -110px;
        width: 70px;

        img{    
            animation-name: swipeIcon;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            width: 60px;
            animation-direction: alternate;
            filter:drop-shadow(2px 2px var(--text-title-color-light-blue))

        }        
        @keyframes swipeIcon {
        from {
            transform: rotate(150deg); transform-origin: 0;
        }
        
        to {
            transform: rotate(50deg); transform-origin: 5;
        }
        }
        
    }
    #proyectos .swipeIcon{
        top: 100px;
        z-index: 10;
        left: calc(100vw - 130px);
        transform: scaleX(-1);
    }
    */
}

/* Medias queries  */
@media (min-width: 1000px){
    ::-webkit-scrollbar {
        display: none;
     }
    .proyectos{
        .scrollProyectos img{
            display: none;
        }
    }

}